*{
	margin: 0; padding:0; border:0;
}


body
{
	background-color: #1E1A1A;
	font-family: vardana

}
#container{
	width: 960px;
	margin: 0px auto;
	border: 2px solid red;
	
}
header{
	background-color: #82685C;
	padding: 5px;


}
nav{
 display: block;
 text-align: center;
}
nav ul
{
	list-style-type: none;
	float: right;
}
nav li {
	float: left;
}
nav a
{
	
	color: #EEE;
	font-weight: bold;
	padding-right: 15px;
	text-decoration: none;
	padding: 0.8em 1.8em;
	text-transform: uppercase;
	font-size:80%;
	letter-spacing: 2px;
	text-shadow: 0 -1px 0 #000;
	position: relative;

}
.nav{
	vertical-align: top;
	display: inline-block;
	
}
.nav li{ position: relative;}
.nav > li{
    float:left;
	border-bottom: 4px #aaa solid;
	margin-right: 1px;
}
.nav > li > a{
	margin-bottom: 1px;
	}
	.nav > li:hover,
	.nav > li:hover > a{border-bottom-color: orange;}
	.nav li: hover > a{color:orange;}
	.nav > li:first-child{
		border-radius: 4px 0 0 4px;
		margin-right: 0;
	
	}
	.nav > li:last-child > a{
		border-radious: 0 4px 0 0;
	
	}
	.nav li li a{ margin-top: 1px;}
.nav li a:first-child:nth-last-child(2):before { 
  content: ""; 
  position: absolute; 
  height: 0; 
  width: 0; 
  border: 5px solid transparent; 
  top: 50% ;
  right:5px;  
 }
 /* submenu positioning*/
.nav ul {
  position: absolute;
  white-space: nowrap;
  border-bottom: 5px solid  orange;
  z-index: 1;
  left: -99999em;
}
.nav > li:hover > ul {
  left: auto;
  margin-top: 5px;
  min-width: 100%;
}
.nav > li li:hover > ul { 
  left: 100%;
  margin-left: 1px;
  top: -1px;
}
/* arrow hover styling */
.nav > li > a:first-child:nth-last-child(2):before { 
  border-top-color: #aaa; 
}
.nav > li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent; 
  border-bottom-color: orange; 
  margin-top:-5px
}
.nav li li > a:first-child:nth-last-child(2):before {  
  border-left-color: #aaa; 
  margin-top: -5px
}
.nav li li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent; 
  border-right-color: orange;
  right: 10px; 
}
	



nav a:hover
{ text-decoration: underline;}
header h1{
	text-align: center;
	text-shadow: 1px 1px 2px #EEE;
	clear: right;
	margin: 30px 0px 20px 0px;
}
#main-content{
	background-image: url(images/c.jpg);
	
	background-repeat: repeat-x bottom;
	background-size: 1350px;
	min-height: 600px;

}
.mainp img{
	width: 200px;
	float: right;
}
.mainp{
	background-color: rgba(240,240,240,.7);
	padding: 10px;
	overflow: hidden;
}
.main-item
{
    float:right;
	/*background-color: rgba(240,240,240,.7);*/
	background-color:none;
	overflow: hidden;
	margin-right: 10px;
	margin-left: 10px;
	padding:40px;
	

}
.main-item h2{
	font-size: 120%;
	text-align: center-right-side;
	margin-bottom: 10px;
	
}
.main-item div
{
	width: 33.33%;
	float: bottom;
	margin: 1px;
	
}


.img-slide{

		float:left;
		/*background-color: rgba(240,240,240,.7);*/
		background-color:none;
		overflow: hidden;
		margin-right: 5px;
		margin-left: 5px;
		padding: 30px;

}
table.mytb{
	  
	  width: 350px;
	  border-style:dotted; 
      border-width:3px; 
      border-color:#000000; 
      padding: 10px;
	  border-collapse:separate;
      empty-cells:hide;
	

}

td.mytb{
	
	 padding:5px;
    border-style:solid;
    border-width:1px;
    border-color:#999999;

}
footer{
	background-color: #82685C;
	padding: 10px;
	text-align: center;
	font-size: 11pt;

}
.header{
	width: 200px;
	float: left;
}
input {
  background-color : #9cf;
  color : #000;
}
.main-form{
	
	float:center;
	background-color: rgba(240,240,240,.7);
	overflow: hidden;
	margin-right: 60px;
	margin-left: 60px;
	padding: 100px;
	
	
}
.main-form h2{
	color:orange;
	font-size: 120%;
	text-align: center;
	margin-bottom: 10px;
	
}


/* -----------FORM LAYOUT  ----------- */
#form_wrapper
{
    margin:0 auto;
    height:auto;
    width:500px;
    padding:14px;
    border:solid 10px #82685C;
   /* background:#f4f8ef;*/
 
}
 
/*.col-1
{
 
    width:30%;
    float:left;
}
.col-2
{
    width:65%;
    float:right;  
}*/
 

 
#form_wrapper h1
{
    font-size:24px;
    font-weight:bold;
    margin-bottom:8px;
    text-align:center;
}
#form_wrapper p{
font-size:12px;
color:#666666;
margin-bottom:20px;
padding-bottom:10px;
text-align:center;
}
#form_wrapper label{
 
margin-bottom:18px;
font-weight:bold;
text-align:right;
display:block;
}
/*#form_wrapper .small{
color:#666666;
font-size:11px;
font-weight:normal;
text-align:right;
display:block;
}*/
#form_wrapper input{
margin-bottom:15px;
font-size:12px;
padding:5px 2px;
border:solid 2px #82685C;
width:100%;
box-shadow: inset 0 0 5px rgba(0,0,0,0.1),inset 0 3px 2px rgba(0,0,0,0.1);
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
font-weight:bold;
}
 
#form_wrapper input[type="radio"]
{
    margin-bottom:30px;
 
    border:1px solid black;
    width:15px;
}
#form_wrapper select
{
    padding:5px 2px;
    width:100%;
    border:solid 2px #82685C;
    margin-bottom:15px;
}
#form_wrapper input:focus{
background-color:#738f47;
}
#form_wrapper button
{
clear:both;
margin-left:50px;
width:125px;
height:31px;
background:#7F9B4E;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}
#form_wrapper button:hover
{
      background-color:#fff;
      color:black;
      border:1px solid green;
      cursor:pointer;
}
#form_wrapper textarea

{
		padding:5px 2px;
		width:100%;
		border:solid 2px #82685C;
		margin-bottom:15px;

}



.button {
	-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	color:#333;
	background-color:#FA2;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:none;
	font-family:'Helvetica Neue',Arial,sans-serif;
	font-size:16px;
	font-weight:700;
	height:32px;
	padding:4px 16px;
	text-shadow:#FE6 0 1px 0
	
	
}
.button:hover {
  
  cursor: pointer;
  }
  

    .fac
{
    float:center;
	padding: 20px;
	background-color: rgba(240,240,240,.7);
	margin:20px;
	
	
	
	
	
	

}
.fac h3
{
color: red;
}